<div class="comment">
    <form action="" method="POST">
        <input type="hidden" name="target"value="{{ target }}">
        {% csrf_token %}
        <div>
            {{ publish.media }}
            {{ publish}}
            <button>发送</button>
        </div>

    </form>
</div>
{% block script %}
    <script>
    $('.django-ckeditor-widget').removeAttr('style');
    </script>
{% endblock %}
<script>
    (function ($) {
    var $content_md = $('#div_id_content_md');
    var $content_ck = $('#div_id_content_ck');
    var $is_md = $('input[name=is_md]');
    var switch_editor = function (is_md) {
        if (is_md){
            $content_md.show();
            $content_ck.hide();
        }
        else{
            $content_md.hide();
            $content_ck.show();
        }
    };
    $is_md.on('click',function () {
        switch_editor($(this).is(':checked'));
    });
    switch_editor($is_md.is(':checked'));
})(jQuery);
</script>