<!DOCTYPE HTML>
<html>
<head>
 <meta charset="UTF-8">
 <title>博客</title>
 <meta name="关键字" content="">
 <link href="/static/css/buju.css" rel="stylesheet">
 <link href="/static/css/index.css" rel="stylesheet">
 <script type="text/javascript" src="/static/js/jquery.min.js"></script>
 <script type="text/javascript" src="/static/js/sliders.js"></script>
</head>
<body>
  <header>
    <div class="logo f_l">
	   <a href="#">
	      <img src="/static/images/logo1.png">
	   </a>
	 </div>
	 <div id="topnav" class="f_r">
	     <ul>
		     <a href="#" target="_blank" id="topnav_current">首页</a>
			  <a href="#" target="_blank">关于我</a>
			  <a href="" target="_blank">文章</a>
			  <a href="#" target="_blank">心情</a>
			  <a href="#" target="_blank">相册</a>
			  <a href="#" target="_blank">留言</a>
		  </ul>
	 </div>
  </header>
  <article>
    <nav id="nav" class="clearfix">
        <div class="nav_com">
            <ul>
                <li style="background: red">推荐</li>
                {% for cate in categories %}
                    <li class="l_click">{{ cate.name }}</li>
                {% endfor %}
            </ul>
        </div>

    </nav>
      <script>
          $(function () {
              var getDiv_md = $('#nav');
              var offSet = getDiv_md.offset().top;
              $(window).scroll(function () {
              if($(window).scrollTop()>offSet){
                  $('#nav').css({'position':'fixed','top':0});
                  $('.f_l').css('margin-left','106px');
                  $('.f_mov').css('margin-left',0);
                  $('.dtime').css('margin-left',0);
              }
              else {
                  $('#nav').css({'position':'relative'});
                  $('.f_l').css('margin-left',0);
                  $('.f_mov').css('margin-left',0);

              }

              });

          });
      </script>
    <div class="l_box f_l">
	  <div class="banner">
	    <div id="slide-holder">
		   <div id="slide-runner">
		     <a href="/" target="_blank">
			     <img id="slide-img-1" src="/static/images/a1.jpg" alt style>
			  </a>
			  <a href="/" target="_blank">
			     <img id="slide-img-2" src="/static/images/a2.jpg" alt style>
			  </a>
			  <a href="/" target="_blank">
			     <img id="slide-img-3" src="/static/images/a3.jpg" alt style>
			  </a>
			  <a href="/" target="_blank">
			     <img id="slide-img-4" src="/static/images/a4.jpg" alt style>
			  </a>
			  <div id="slide-controls" >
              <p id="slide-desc" class="text"></p>
              <p id="slide-nav"></p>
			  </div>
		   </div> 
		 </div>
	  </div>
	  <script>
	     if(!window.slider){
		     var slider={};
		 }
		 slider.data=[
		 {
		     "id":"slide-img-1", //与slide-runner中的img标签id对应
			 "client":"醉牛逼",
			 "desc":"醉牛逼是武魂醉牛逼的存在"     //这里描述图片内容
		 },
		 {
		     "id":"slide-img-2", 
			 "client":"醉牛逼",
			 "desc":"醉牛逼是武魂醉牛逼的存在"
		 },
		 {
		     "id":"slide-img-3", 
			 "client":"醉牛逼",
			 "desc":"醉牛逼是武魂醉牛逼的存在"
		 },
		 {
		     "id":"slide-img-4", 
			 "client":"醉牛逼",
			 "desc":"醉牛逼是武魂醉牛逼的存在"
		 }
		 ];
	   </script>
	   <div class="topnews">
	   <h2>
	   <span>
	    <a href="/" target="_blank"></a>
		 <a href="/" target="_blank"></a>
		 <a href="/" target="_blank"></a>
	   </span>	 
	    文章推荐
	   </h2>
           {% for post in post_list %}
                <div class="blogs">
                    <ul>
                        <h3><a href="/post/{{ post.id }}/">{{ post.title }}{{ post.tag.name }}</a></h3>
                        <p>{{ post.desc }}</p>
                        <p class="autor">
                            <span class="lm f_l f_mov">
                                <a href="">{{ post.owner.username }}</a>
                            </span>
                            <span class="dtime f_l">{{ post.create_time }}</span>
                            <span class="viewnum f_r">
                                浏览(<a href="">{{ post.pv }}</a>)
                            </span>
                            <span class="pingl f_r">
                                评论(<a href="">{{ post.uv }}</a>)
                            </span>
                        </p>
                    </ul>
                </div>
           {% endfor %}
	   </div>
	 </div>

    <div class="r_box f_r">
	   <div class="tit01">
         <h3>关注我</h3>
		  <div class="gzwm">
		    <ul>
			   <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
			   <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
			   <li><a class="rss" href="#" target="_blank">RSS</a></li>
			   <li><a class="wx" href="#" target="_blank">邮箱</a></li>
			</ul>
		  </div>
       </div> 
	   <div class="ad300x100">
	       <img src="/static/images/wh.jpg">
	   </div>
	   <div class="tab" id="lp_right_select">
	     <script>
		     window.onload=function()
			 {
			     var oLi=document.getElementById("tb").getElementsByTagName("li");
				 var oUl=document.getElementById("tb-main").getElementsByTagName("div");
				 for(var i=0;i<oLi.length;i++)
				 {
				     oLi[i].index=i;
					 oLi[i].onmouseover=function()
					 {
					    for(var n=0;n<oLi.length;n++)
						    oLi[n].className="";
							this.className="cur";
						for(var n=0;n<oUl.length;n++)
                            oUl[n].style.display="none";
                            oUl[this.index].style.display="block";							
					 }
				 }
			 }
		  </script>
	     <div class="tab-top">
		      <ul class="hd" id="tb">
			       <li class="cur"><a href="/">点击排行</a></li>
				   <li><a href="/">最新文章</a></li>
				   <li><a href="/">站长推荐</a></li>
			  </ul>
		  </div>
		  <div class="tab-main" id="tb-main">
		      <div class="bd bd-news" style="display:block;">
                  <ul>
                      {% for hot in hot_posts %}
                          <li><a href="/" target="_blank">{{ hot.title }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
			   <div class="bd bd-news" ><ul>
			      {% for new in new_posts %}
                          <li><a href="/" target="_blank">{{ new.title }}</a></li>
                      {% endfor %}
			  </ul></div>
			   <div class="bd bd-news" ><ul>
			      <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
				   <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
				   <li><a href="/" target="_blank">住在手机里的朋友</a></li>
				   <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
				   <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
				   <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
			  </ul></div>
		  </div>
	   </div>
	   <div class="cloud">
	     <h3>标签云</h3>
		  <ul>
              {% for tag in tags %}
                <li><a href="/">{{ tag.name }}</a></li>
              {% endfor %}



		  </ul>
	   </div>
	   <div class="tuwen">
	     <h3>图文推荐</h3>
		 <ul>
		   <li><a href="/"><img src="/static/images/01.jpg"><b>住在手机里的朋友</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p>
		   </li>
		   <li><a href="/"><img src="/static/images/02.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="/static/images/03.jpg"><b>手机的16个惊人小秘密，据说99.999%的人都不知</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="/static/images/06.jpg"><b>原来以为，一个人的勇敢是，删掉他的手机号码...</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		   <li><a href="/"><img src="/static/images/04.jpg"><b>豪雅手机正式发布! 在法国全手工打造的奢侈品</b></a>
		      <p>
			      <span class="tulanum"><a href="/">手机配件</a></span>
				   <span class="tutime">2016-02-16</span>
			   </p></li>
		 </ul>
	   </div>
	   <div class="ad"><img src="/static/images/03.jpg"></div>
	   <div class="links">
	     <h3><span><a href="/">申请友情链接</a></span>友情链接</h3>
		 <ul>
		   <li><a href="/">醉牛逼的武魂生涯</a></li>
		    <li><a href="/">观察者网</a></li>
			 <li><a href="/">中国投资</a></li>
			  <li><a href="/">强国论坛</a></li>
			   <li><a href="/">车讯网</a></li>
			    <li><a href="http://www.genban.org">跟版模板网</a></li>
				 <li><a href="/">一带一路门户网</a></li>
		 </ul>
	   </div>
	 </div>
  </article>
</body>